<body style="background-color: #d1cac2;">
<h1 style="color: #1d1d1d; text-align: center; margin: 0 auto; padding-left: 200px;">Welcome to the Padlet overview</h1>

<div class="ui middle aligned selection divided list" style="display: flex; flex-wrap: wrap; justify-content: center; padding-left: 200px; padding-right: 200px">

  <a *ngFor="let padlet of padlets" class="item bs-padlet-list-item"
     [padlet]="padlet"
     [routerLink]="padlet.id.toString()">

    <div class="content">
      <div class="header" [style.color]="padlet?.ispublic === 1 ? '#1d1d1d' : '#f3f2ee'" [style.backgroundColor]="padlet?.ispublic === 1 ? '#1d1d1d' : ''">{{ padlet?.name }}</div>
      <div *ngIf="padlet?.ispublic === 1" [style.color]="padlet?.ispublic === 1 ? '#1d1d1d' : '#f3f2ee'">public</div>
      <div *ngIf="padlet?.ispublic === 0" [style.color]="padlet?.ispublic === 1 ? '#1d1d1d' : '#f3f2ee'">private</div>
    </div>
  </a>
  <div *ngIf="!padlets" class="ui active dimmer">
    <div class="ui large text loader">Data is loading..</div>
  </div>
  <p *ngIf="padlets && !padlets.length">Sorry, no padlets there yet..</p>
</div>
</body>
